/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

p {
  font-size: var(--font-paragraph);
  font-family: var(--fs-base);
  color: var(--clr-stone600);
  font-weight: var(--fw-regular);

}
h1 {
  font-family: var(--fs-accent);
  font-size: var(--font-header);
  font-weight: var(--fw-regular);
  color: var(--clr-stone900);
}
h2{
  font-family: var(--fs-accent);
  font-size: var(--font-sub-header);
  color: var(--clr-brown800);
  font-weight: var(--fw-regular);
  margin: 10px 0;
}
h3 {
  font-family: var(--fs-base);
  font-weight: var(--fw-bold) ;
  color: var(--clr-rose800);
}

body {
  background-color: var(--clr-stone100);
  margin-top: 5%;
  
}

.prep {
  background-color: var(--clr-rose50);
  padding: 10px;
  border-radius: 15px;
}

.content {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  background-color: white;
  padding: 3%;
  margin: auto;
}

.bolded{
  font-weight:var(--fw-black);
}




ol li {
  font-family: var(--fs-base);
  font-size: var(--font-paragraph);
  font-weight: var(--fw-black);
  color:var(--clr-stone600);
  margin:10px 0;
}

ul li {
  margin: 10px 0;
}
table tr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  color: var(--clr-stone150);
  margin: 10px 0;
}

tr {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

table td {
  padding: 15px;
}

.boldednutrient {
  font-weight: var(--fw-black);
  color: var(--clr-brown800);
}

img {
  border-radius: 30px;
  padding: 2%;
}

.border {
  border-bottom: 1px solid;
  color: var(--clr-stone150);
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }